html {
  font-size: 62.5%; }

body {
  background: #be9b7b;
  color: #fff4e6;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem; }

button {
  cursor: pointer; }
  button:disabled {
    cursor: default; }

.navbar {
  background: #4b3832;
  color: #fff4e6;
  font-size: 1.6rem; }

h2 {
  font-size: 3.2rem;
  color: black; }

label {
  font-size: 2.4rem; }

.clock {
  align-items: center;
  background-color: none;
  border: 20px solid #3c2f2f;
  border-radius: 50%;
  display: flex;
  height: 20rem;
  width: 20rem;
  justify-content: center;
  margin: 4rem auto; }
