.Clock {
  align-items: center;
  background-color: none;
  border: 30px solid #3c2f2f;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  justify-content: center;
  margin: 6rem auto;
}

.Clock>h2 {
  font-size: 1.6rem;
}