// Colors
$espresso: #4b3832;
$red-brown: #854442;
$off-white: #fff4e6;
$dark-coffee: #3c2f2f;
$latte: #be9b7b;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$desktop-breakpoint: 45rem;
